*{
    margin: 0;
    padding: 0;
}

.divRoot{
    width: 100vw;
    height: 100vh;
    background-color: black;

}

.canvasGame{
    position: absolute;
    background-color: black;
}

.divUI{
    position: absolute;
    background-color: black;
}

.uiFull{
    background-color: black;
    width: 100%;
    height: 100%;
}

