:root{
    --ui-unit: 2.2vh;
}

/* UI Loading */
.UILoading{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.UILoading .progressBorder{
    position: absolute;
    left: 25%;
    top: 50%;
    border: 1px white solid;
    width: 50%;
    min-height: 15px;
}

.UILoading .progressBorder p{
    position: absolute;
    top: -150%;
    right: 0;
}

.UILoading .progressBorder h3{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -150%;
}

.UILoading .progressFill{
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: green;
}

/* UI Start */
.UIStart{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.UIStart .right{
    display: grid;
    grid-template-rows: 2fr 4fr;
}

.UIStart .right .right-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.UIStart .mid{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.UIStart .mid button{
    padding: 0;
    width: calc(var(--ui-unit) * 30);
    height: calc(var(--ui-unit) * 8);
    outline: none;
    background-color: black;
    color: white;
    font-size: calc(var(--ui-unit) * 3);
}

.UIStart .right button{
    height: calc(var(--ui-unit) * 10);
    width: calc(var(--ui-unit) * 10);
    font-size: calc(var(--ui-unit) * 3);
    margin-bottom: 10%;
    margin-right: 10%;
    border-radius: 50%;
    outline: none;
    background-color: black;
    color: white;
}

.UIStart button:active{
    background-color: green;
}

/* UI End */
.UIEnd{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UIEnd .title{
    flex: 1;
    font-size: calc(var(--ui-unit) * 4);
    display: flex;
}

.UIEnd .title h2{
    margin: auto;
}

.UIEnd .btnContainer{
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
}

.UIEnd .btnGroup{
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
}

.UIEnd .btn{
    width: calc(var(--ui-unit) * 8);
    height: calc(var(--ui-unit) * 8);
    font-size: calc(var(--ui-unit) * 5);
    margin-bottom: 10%;
    border-radius: 50%;
    outline: none;
    color: white;
    background-color: black;
}

.UIEnd .btn:active{
    background-color: green;
}

.UIEnd .btnGroup label{
    font-size: calc(var(--ui-unit) * 4);
}

@media (max-aspect-ratio: 22/10){
    :root{
        --ui-unit: 1vw;
    }

}